@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// Local styles
app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top-bar {
  flex: 0 0 auto;
}

.canvas {
  width: 100%;
  flex: 1 1 auto;
}

.panels {
  position: fixed;
  top: 0;
  width: 100vw;
}
